.required{
    color:red;
}
.name{
    display:flex;
}
.first, .last{
    width: 200px;
    height:25px;
}
.lastp{
    margin-left: 25px;
}
.email{
    width: 430px;
    height:25px;
}
.checked {
    color: orange;
}
.star{
    margin:5px;
}
textarea{
    width:100%;
}
button{
    width:100px;
    height: 50px;
}
td{
    text-align:center ;
}
.th{
    text-align:left ;
}
